<h1>Job Postings</h1>

<%= form_tag issues_path, method: :get do %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search" %>
<% end %>
<%= link_to "Remote Jobs", remote_jobs_list_issues_path %>
<ul>
  <% @issues.each do |issue| %>
    <li>
      <%= issue.title %> - <%= issue.company %> - <%= issue.salary %> - <%= issue.location %>
    </li>
  <% end %>
</ul>